<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="NEOSTRATA">

	<listeners>
		<listener class-name="com.neostrata.utility.CustomListener"></listener>
	</listeners>

	<test name="NEOSTRATA : TEST-CASES">
		<classes>
			<!-- <class name="com.neostrata.testcases.HomePageTest" />
			<class name="com.neostrata.testcases.FooterPageTest" />  --> 
			<class name="com.neostrata.testcases.HeaderPageTest" />  
		</classes>
	</test>
</suite>